<!--LOGIN SCR-->
<div class="container">
<div class="row">
    <div class="col-3">
        <h2 class="loginscr">Catalogames</h2>
    </div>
</div>

<div class="row mt-2 mb-3">
    <div class="col-5">
        <h1 class="loginscr">Sua estante virtual de jogos</h1>
    </div>
</div>

<!--BUTTONS-->
<div class="row">
    <div class="col-1">
        <button type="submit" class=" btn1 col-3 btn btn-primary mb-2 rounded-pill mb-2"><a
                href="/login">ENTRAR</a></button>
        <button type="submit" class="btn2 col-3 btn btn-primary rounded-pill "><a
                href="/register">REGISTRAR</a></button>
    </div>
</div>

</div>
