<form action="/auth" method="POST">
    <div class="col-4 offset-4 card rounded-3">
        <div class="card1 col-4 offset-4 text-center mt-4">
            <h1 class="text">LOGIN</h1>
        </div>

        <div class="card2 row justify-content-center mb-4 ">

            <!--INPUT-->
        <div class="col-7 mx-4">
            <label for="email" class="form-label">EMAIL</label>
            <input type="text" name="email" id="email" class="inpt form-control mb-4 rounded-pill" aria-labelledby="">
        
            <label for="pass" class="form-label">SENHA</label>
            <input type="password" name="pass" id="pass" class="inpt form-control rounded-pill" aria-labelledby="">
        </div>

        </div>

         <div class="col-2 offset-5 mb-4">
            <input type="submit" id="enviar" value="ENTRAR" class="button form-control rounded-pill" aria-labelledby="">
        </div>

    </div>
</form>

