<div class="navbar px-4" >

<div class="row">
    <div class="col-9">
        <p style="color: #FFF !important">Pesquisa por jogo, gênero ou username</p>
    </div>
    <div class="">
         <input class="rounded-pill text-center" style="background-color: #5B6C6D !important;color: #FFFFFF !important;" type="text" value="Faça sua pesquisa aqui" name="search"> 
    </div>
</div>
    <div class="">
    <div class="profile_circle mb-1"></div>
    <p style="color:#FFFFFF !important">@gustah090</p>
    </div>
</div>