<!--NAVBAR-->
<div class="navbar px-4">
    <div class="row">
        <div class="col-9">
            <p style="font-size: 25px !important; color: #FFF !important">Pesquisa por jogo, gênero ou username</p>
        </div>

        <div class="col-8 ">
            <input class="rounded-pill text-center"
                style="border: none !important; background-color: #5B6C6D !important;color: #FFFFFF !important;"
                type="text" placeholder="Faça sua pesquisa aqui" name="search">
        </div>
    </div>

    <div class="">
        <a href="/login" style="text-decoration: inherit !important; color: inherit !important;">
            <p style="margin-left: 30rem !important; font-size: 25px !important; color: #FFF !important">Sair</p>
        </a>

    </div>
    <div class="profileInfo">
        <div class="profile_circle mb-1"></div>
        <a href="#" style="text-decoration: inherit !important; color: inherit !important;">
            <p style="color:#FFFFFF !important">@gustah090</p>
        </a>
    </div>
</div>

<!--CONTAINER 1-->

<div class="container1">
    <!--PRIMEIRO ROW-->
    <div class="row justify-content-center">
        <div class="col-3 text-center mt-4 mb-3">
            <h1 style="color: #FF914D !important; font-size: 55px !important;">Lista de jogos</h1>
        </div>
    </div>
    <!--SEGUNDO ROW-->
    <div class="row justify-content-center">
        <div class="col-4 text-center mb-5">
            <h2 style="color: #F4C01E !important;">Quantidade de jogos: 78</h2>
            <h2 style="color: #F4C01E !important;">Quantidade de jogos finalizados: 28</h2>
            <h2 style="color: #F4C01E !important;">Quantidade de jogos abandonados: 20</h2>
            <h2 style="color: #F4C01E !important;">Quantidade de jogos atuais: 30</h2>
        </div>
    </div>
</div>

<!--CONTAINER 2 CARDS-->
<div class="container2 mb-5">
    <div class="row m-3 justify-content-evenly">

        <!--CARD 1-->
        <div class="card 1"
            style="width: 21rem; height: 29rem !important; opacity: 0.8 !important; border-radius: 5% !important;">
            <img src="https://i.pinimg.com/564x/09/06/98/0906983ad1c91766b07d8f7ed571dc50.jpg" class="card-img-top mt-1"
                style="max-height: 277px !important; border-radius: 5% !important;" alt="Uncharted 3">
            <div class="card-body">
                <h5 class="card-title">Uncharted 3</h5>
                <p class="card-text">Semelhante a Uncharted 2: Among Thieves, Uncharted 3 inclui uma componente
                    multiplayer em separado com jogo em rede que foi executado em beta aberto... </p>
            </div>
        </div>

        <!--CARD 2-->
        <div class="card 2"
            style="width: 21rem; height: 29rem !important; opacity: 0.8 !important; border-radius: 5% !important;">
            <img src="https://i.pinimg.com/564x/3a/af/3d/3aaf3d978608905f97ae60d315d2ad7f.jpg" class="card-img-top mt-1"
                style="max-height: 277px !important; border-radius: 5% !important; " alt="Alan Wake">
            <div class="card-body">
                <h5 class="card-title">Alan Wake</h5>
                <p class="card-text">Uma presença sombria persegue a pequena cidade de Bright Falls, empurrando Alan
                    Wake à beira do bom-senso na sua batalha para revelar o mistério e salvar o ... </p>
            </div>
        </div>

        <!--CARD 3-->
        <div class="card 3"
            style="width: 21rem; height: 29rem !important; opacity: 0.8 !important; border-radius: 5% !important;">
            <img src="https://cdn1.epicgames.com/offer/24b9b5e323bc40eea252a10cdd3b2f10/LoL_1200x1600-15ad6c981af8d98f50e833eac7843986"
                class="card-img-top mt-1" style="max-height: 277px !important; border-radius: 5% !important;"
                alt="League Of Legends">
            <div class="card-body">
                <h5 class="card-title">League of Legends</h5>
                <p class="card-text">Usuários do Google
                    League of Legends é um jogo eletrônico do gênero multiplayer online battle arena desenvolvido e
                    publicado pela Riot Games. Foi lançado em ...</p>
            </div>
        </div>
    </div>
</div>

<!--FOOTER-->
<div class="footer">
    <div class="row footertext text-center">
        <p class="mt-2"><a href="#" style="text-decoration: none; color: inherit;">@EMAG</a></p>
    </div>
</div>