<div class="navbar px-4">

    <div class="row">
        <div class="col-9">
            <p style="font-size: 25px !important; color: #FFF !important">Pesquisa por jogo, gênero ou username</p>
        </div>
        <div class="col-8 ">
            <input class="rounded-pill text-center"
                style="border: none !important;  background-color: #5B6C6D !important;color: #FFFFFF !important;"
                type="text" placeholder="Faça sua pesquisa aqui" name="search">
        </div>
    </div>

    <div class="">
        <div class="profile_circle mb-1"></div>
        <p style="color:#FFFFFF !important">@gustah090</p>
    </div>
</div>

<div class="container1">
    <div class="box1 mt-4">
        <h1 style="color: #FF914D !important; font-size: 55px !important;">Lista de jogos</h1>
        <h2 style="color: #F4C01E !important;">Quantidade de jogos: 78</h2>
        <h2 style="color: #F4C01E !important;">Quantidade de jogos finalizados: 28</h2>
        <h2 style="color: #F4C01E !important;">Quantidade de jogos abandonados: 20</h2>
        <h2 style="color: #F4C01E !important;">Quantidade de jogos atuais: 30</h2>
    </div>
</div>

<div class="container2">
    <div class="m-2 p-2 row justify-content-evenly cards">

        <!--CARD 1-->
        <div class="card 1" style="width: 19rem; height: 29rem !important">
            <img src="https://i.pinimg.com/564x/09/06/98/0906983ad1c91766b07d8f7ed571dc50.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Uncharted 3</h5>
                <p class="card-text">Semelhante a Uncharted 2: Among Thieves, Uncharted 3 inclui uma componente
                    multiplayer em separado com jogo em rede que foi executado em beta aberto... </p>
            </div>
        </div>

        <!--CARD 2-->

        <div class="card 1" style="width: 19rem; height: 29rem !important">
            <img src="https://i.pinimg.com/564x/09/06/98/0906983ad1c91766b07d8f7ed571dc50.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Uncharted 3</h5>
                <p class="card-text">Semelhante a Uncharted 2: Among Thieves, Uncharted 3 inclui uma componente
                    multiplayer em separado com jogo em rede que foi executado em beta aberto... </p>
            </div>
        </div>

        <!--CARD 3-->

        <div class="card 1" style="width: 19rem; height: 29rem !important">
            <img src="https://i.pinimg.com/564x/09/06/98/0906983ad1c91766b07d8f7ed571dc50.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Uncharted 3</h5>
                <p class="card-text">Semelhante a Uncharted 2: Among Thieves, Uncharted 3 inclui uma componente
                    multiplayer em separado com jogo em rede que foi executado em beta aberto... </p>
            </div>
        </div>


    </div>
</div>