<div class="navbar" >

<div class="row">
    
    <div class="col-9">
        <p>Pesquisa por jogo, gênero ou username</p>
    </div>
    <div class="">
         <input class="rounded-pill" type="text" value="Faça sua pesquisa aqui" name="search"> 
    </div>

</div>

    <div class="profile_circle">
    </div>

</div>