<form action="/cad" method="post">

    <div class="col-4 offset-4 card rounded-3">

        <div class="card1 col-6 offset-3 text-center mt-4">
            <h1 class="text">CRIE SEU REGISTRO</h1>
        </div>

        <div class="card2 row mt-2 justify-content-center ">

        <div class="col-5">
            <label for="email" class="form-label">EMAIL</label>
            <input type="text" name="email" id="email"  class="inpt form-control mb-4 rounded-pill" aria-labelledby="">
        
            <label for="name" class="form-label">NOME</label>
            <input type="text" id="name" name="name" class="inpt form-control rounded-pill" aria-labelledby="">
        </div>

        <div class="col-5 mb-4">

            <label for="pass" class="form-label">SENHA</label>
            <input type="password" name="pass" id="pass" class="inpt form-control mb-4 rounded-pill" aria-labelledby="">

            <label for="username" class="form-label">USERNAME</label>
            <input type="text" name="username" id="username" class="inpt form-control rounded-pill" aria-labelledby="">

        </div>
         

        </div>

         <div class="col-2 offset-5 mb-4">
            <input type="submit" id="enviar" value="REGISTRAR" class="button form-control rounded-pill" aria-labelledby="">
        </div>

       

    </div>

</form>