/*import font*/
@font-face {
    font-family: 'Gameplay';
    font-style: normal;
    font-weight: normal;
    src: local('Gameplay'), url('Gameplay.woff') format('woff');
}

body {
    background-image: url(emag.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff !important;
    margin-top: 8.3rem !important;
}

/*Fonte tela login*/
.loginscr {
    font-family: 'Gameplay' !important;
}

a{
    text-decoration: none !important;
    color:inherit !important;
}

h1 {
    font-size: 50px !important;
}

h2 {
    font-size: 23px !important;
}

/*BOTOES*/
button {
    font-weight: 500 !important;
    border: none !important;
    margin-left: 358px !important;
    width: 9.5rem !important;
}

.btn1 {
    background: #FF914D !important;
}

.btn2 {
    background: #5E17EB !important;
}