@font-face {
    font-family: Krunchbold;
    src: url('KrunchBold-OKn6.ttf');
  }

body{
    background-image:url(backgroundprofile.png) ;
}

/*navbar*/
.navbar{
    height: 7rem;
    background-color: #FF914D;
    font-family: KrunchBold;
    display: block;
}

/*imagem de perfil*/
.profile_circle{
    width: 4rem;
    height: 4rem;    
    border-radius: 50%;
    background-image: url(profilepicmale.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 11px;
}

