@font-face {
    font-family: Krunchbold;
    src: url('KrunchBold-OKn6.ttf');
  }

body{
    background-image:url(backgroundprofile.png);
}

/*navbar*/
.navbar{
    height: 7rem;
    background-color: #FF914D;
    font-family: KrunchBold;
}

/*placeholder do input*/
input::placeholder{
    color: #fff !important;
    font-size: 15px !important;

}
/*imagem de perfil*/
.profile_circle{
    width: 4rem;
    height: 4rem;    
    border-radius: 50%;
    background-image: url(profilepicmale.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1rem;
}

.container1 {
    font-family: KrunchBold !important;
    margin: 1rem !important;
}

.footer{
    width: 100vw;
    background-color: #FF914D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }