@font-face {
    font-family: Krunchbold;
    src: url('KrunchBold-OKn6.ttf');
  }

body{
    background-image:url(backgroundprofile.png) ;
}

/*imagem de perfil*/
.profile_circle{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-image: url(profilepicmale.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    margin: 0 !important;
    background-color: #FF914D !important;
    padding-left: 1rem !important;
}

