/*import font*/
@font-face {
    font-family: Krunchbold;
    src: url('KrunchBold-OKn6.ttf');
  }

body {
    background-image: url(emag.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 8.3rem !important;
}

.inpt{
    background-color:#5B6C6D !important;

}

h1{
    font-size: 53px !important;
}

.card1{
    color: #5E17EB !important;
}

.card2{
    color: #5E17EB !important;
}

.button{
    background-color: #9A06EF !important;
    color: #fff !important;
    height: 35px !important;

}

.card{
    border-radius: 0 !important;
    font-family: Krunchbold !important;
}


